<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>express</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    <h1>/views/index.ejs</h1>

    <p>データベースの情報を取得</p>
    <ul>
        <% items.forEach((item) =>{ %>
        <li>
            <%= item.id %>
            <%= item.name %>
            <form action="/delete/<%=item.id%>" method="POST">
                <input type="submit" value="削除">
            </form>
            <a href="/edit/<%=item.id%>"><button>編集</button></a>
        </li>
        <% }); %>

    </ul>
    <a href="/">TOP</a>
</body>

</html>